*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Heebo', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
#header{
    display: flex;
    background-color: #f1a536;
    color: black;
    justify-content: space-between;
    width: calc(100%-40px);
    padding: 0 1em;
}
.logo{
    cursor: pointer;
    height: 10vh;
}
#navArea{
    display: flex;
    width: 45vw;
    justify-content: space-around;
    align-items: center;
}
[id$="Nav"]{
    cursor: pointer;
}
[id$="Banner"]{
    display: flex;
    height: 75vh;
    width: auto;
    justify-content: center;
    align-items: flex-end;
}
#homeBanner{
    background-image: url("images/hero-image.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
#botwBanner{
    background-image: url("images/bengal-burger.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerText{
    background-color: white;
    margin-bottom: 2em;
    font-size:2.5em;
    padding: .5em;
    font-weight: 800;
}
#recipeTime{
    background-color: #dadfea;
    padding-left: 4em;
}
#recipeTime h2{
    padding-top: .5em;
    font-size: 3em;
}
[id$="Sec"]{
    display: flex;
    font-size: 1.3em;
    flex-direction: row;
    flex-wrap: wrap;
}
[id$="Sec"] p, [id$="Sec"] h3{
    padding: .5em;
}
#secSec{
    width: 50vw;
    justify-content: flex-start;
}